<h1>Notifications#index</h1>
<p>Find me in app/views/notifications/index.html.erb</p>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
    <%= render "notifications/notifications" %>
<% else %>
    <p>通知はございません</p>
<% end %>