<p>DM一覧</p>
<% if current_user.id == @user.id %>
  <h3>チャット一覧</h3>
  <% @rooms.each do |r| %>
    <% r.dm_users.each do |u| %> <!--ルームのユーザーは二人-->
     <% if u.id == current_user.id %> <!--自分じゃない方は表示-->
     <% else %>
        <p>
        <% if u.image? %>
          <%= image_tag u.image.url, :size => '30x30' %>
        <% else %>
          <%= image_tag "/assets/default.jpg", :size => '30x30' %>
        <% end %>
        <a href="/rooms/<%= r.id %>"><%= u.name %>さんとのチャット</a>
        </p>  
     <% end %>
    <% end %> 
  <% end %>
<% else %>
<% end %>