// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-color: antiquewhite;
}

h1 {
    color: #6f6f6f;
    text-align: center;
}

p {
    color: #6f6f6f;
    text-align: center;
}

a {
    color: #6f6f6f;
    text-decoration: none;
}

.logup {
    text-align: center;
}